// $layout-body-background         : #f0f2f5;
// @layout-header-background       : #001529;
// @layout-footer-background       : @layout-body-background;
$layout-header-height           : 4rem;
$layout-header-padding          : 0 3rem;
$layout-footer-padding          : 1.5rem 3rem;
// @layout-sider-background        : @layout-header-background;
// @layout-trigger-height          : 48px;
// @layout-trigger-background      : #002140;
// @layout-trigger-color           : #fff;
// @layout-zero-trigger-width      : 36px;
// @layout-zero-trigger-height     : 42px;
// Layout light theme
// @layout-sider-background-light  : #fff;
// @layout-trigger-background-light: #fff;
// @layout-trigger-color-light     : @text-color;