@import "../../../style/var.scss";
@import "./var.scss";
@mixin vertical-item () {
    color: $menu-item-text-color;
    &:not(.disabled) {
        &:hover {
            color: $menu-item-hover-text-color;
        }

        &.selected, &:active {
            background-color: $menu-item-active-bg-color;
            color: $menu-item-active-text-color;
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: $menu-item-disabled-text-color;
        border-color: $menu-item-disabled-text-color;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 3px solid $menu-item-active-border-color;
      transform: scaleY(.0001);
      opacity: 0;
      transition: transform .15s $ease-out, opacity .15s $ease-out;
    }
    &.selected:after{
        opacity: 1;
        transform: scaleY(1);
    }
}

@mixin vertical-sub-title {
    line-height: $menu-item-height;

    &:not(.disabled) {
        &:hover{
            color: $menu-sub-title-hover-text-color;
        }

        &:active{
            color: $menu-sub-title-active-text-color;
            // background-color: $menu-item-active-bg-color;
        }
        &.active{
            color: $menu-sub-title-active-text-color;
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: $menu-item-disabled-text-color;
        border-color: $menu-item-disabled-text-color;
    }
}

@mixin horizontal-top-item {
    border-bottom: 2px solid transparent;

     &:not(.disabled) {
        &.active, &.selected{
            border-bottom-color: $menu-item-active-border-color;
            color: $menu-item-active-text-color;
        }

        &:hover {
            // border-bottom-color: $menu-item-active-border-color;
            color: $menu-item-hover-text-color;
        }
     }

     &.disabled {
        cursor: not-allowed;
        color: $menu-item-disabled-text-color;
        border-color: $menu-item-disabled-text-color;
    }
}