@import "../../../style/mixins/bem.scss";
@import "../../../style/mixins/elevation.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/var.scss";
// @import "./mixins.scss";

@include b(v-popper) {
    display: inline-block;
    color: $text-color;
    position: relative;

    @include e(popper) {
        position: absolute;
        background-color: $bg-color;
        border-color: $bg-color;
        color: $text-color;
        border-radius: $border-radius-base;
        @include elevation(8);
    }

    @include e(arrow) {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;

        @include m(top) {
            border-width: 5px 5px 0 5px;
            border-color: transparent;
            border-top-color: inherit;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }

        @include m(bottom) {
            border-width: 0 5px 5px 5px;
            border-color: transparent;
            border-bottom-color: inherit;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }

        @include m(left) {
            border-width: 5px 0 5px 5px;
            border-color: transparent;
            border-left-color: inherit;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }

        @include m(right) {
            border-width: 5px 5px 5px 0;
            border-color: transparent;
            border-right-color: inherit;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
}