@import "../../../style/mixins/bem.scss";
@import "../../../style/mixins/elevation.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/var.scss";
@import "./mixins.scss";

@include b(v-popper) {
    display: inline-block;
    color: $text-color;
    position: relative;

    @include e(popper) {
        position: absolute;
        background-color: $bg-color;
        border-color: $bg-color;
        color: $text-color;
        border-radius: $border-radius-base;
        @include elevation(8);
    }

    @include e(arrow) {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;

        @include m(top) {
            @include top-arrow();
            left: calc(50% - 5px);
        }
        @include m(top-start) {
            @include top-arrow();
            left: 5px;
        }
         @include m(top-end) {
            @include top-arrow();
            left: calc(100% - 25px);
        }

        @include m(bottom) {
            @include bottom-arrow();
            left: calc(50% - 5px);
        }
        @include m(bottom-start) {
            @include bottom-arrow();
            left: 5px;
        }
        @include m(bottom-end) {
            @include bottom-arrow();
            left: calc(100% - 25px);
        }

        @include m(left) {
            @include left-arrow();
            top: calc(50% - 5px);
        }
        @include m(left-start) {
            @include left-arrow();
            top: 5px;
        }
        @include m(left-end) {
            @include left-arrow();
            top: calc(100% - 25px);
        }

        @include m(right) {
            @include right-arrow();
            top: calc(50% - 5px);
        }
        @include m(right-start) {
            @include right-arrow();
            top: 5px;
        }
        @include m(right-end) {
            @include right-arrow();
            top: calc(100% - 25px);
        }
    }
}