@import "../../../style/var.scss";
@import "../../../style/mixins/misc.scss";
@import "./var.scss";

@mixin btn(){
    @include control();
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    transition: all .3s $ease-in-out;
    border: 1px solid $btn-border-color;
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border-radius: $btn-border-radius;

    &,
    &:active,
    &.active,
    &:focus {
        outline: 0;
    }

    &:not([disabled]){
        &:hover, &:focus, &.active {
            text-decoration: none;
            border-color: $btn-border-focus-color;
            background-color: $btn-bg-focus-color;
            color: $btn-text-focus-color;
        }
        &:active {
            outline: 0;
            transition: none;
            border-color:$btn-border-active-color;
            background-color: $btn-bg-active-color;
            color: $btn-text-active-color;
        }
    }

    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        > * {
        pointer-events: none;
        }
        background-color: $disabled-bg;
        color: $disabled-color;
    }
}
