@import "../../../style/mixins/bem.scss";
@import "../../../style/mixins/elevation.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/var.scss";
@import "./mixins.scss";
@import "./var.scss";


@include b(v-button) {
    @include btn();

    @include e(loader) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .6);
        border-radius: inherit;
    }

    // Type
    @include m(type-bulge) {
        @include elevation(2);

        &:hover, &:active, &.active, &:focus{
            &:not([disabled]){
                @include elevation(6);
            }
        }
    }

    @include m(type-flat) {
        background: none;
        &[disabled]{
            background: none;
        }
    }

    @include m(type-depressed) {
        border-radius: $btn-border-radius;
    }

    @include m(type-outline) {
        border-width: 1px;
        border-style: solid;
    }

    // Size
    @include m(size-lg) {
        line-height: $btn-height-lg;
        padding: 0 $padding-lg;

        &.v-button--type-outline {
            line-height: calc(#{$btn-height-lg} - 2px);
        }

        &.v-button--shape-round{
            border-radius: $btn-height-lg/2;
        }

        &.v-button--shape-circle{
            @include square($btn-height-lg);
        }
    }

    @include m(size-md) {
        line-height: $btn-height-md;
        padding: 0 $padding-md;

        &.v-button--type-outline {
            line-height: calc(#{$btn-height-md} - 2px);
        }

        &.v-button--shape-round{
            border-radius: $btn-height-md/2;
        }

        &.v-button--shape-circle{
            @include square($btn-height-md);
        }
    }

    @include m(size-sm) {
        line-height: $btn-height-sm;
        padding: 0 $padding-sm;
        font-size: $font-size-sm;

        &.v-button--type-outline {
            line-height: calc(#{$btn-height-sm} - 2px);
        }

        &.v-button--shape-round{
            border-radius: $btn-height-sm/2;
        }

        &.v-button--shape-circle{
            @include square($btn-height-sm);
        }
    }

    // Color
    @include m(color-primary){
        @include btn-color($primary-colors);
    }

    @include m(color-secondary){
        @include btn-color($secondary-colors);
    }

    @include m(color-success){
        @include btn-color($success-colors);
    }

    @include m(color-info){
        @include btn-color($info-colors);
    }

    @include m(color-warning){
        @include btn-color($warning-colors);
    }

    @include m(color-error){
        @include btn-color($error-colors);
    }

    // Shape
    @include m(shape-round) {
        // border-radius: 50%;
    }

    @include m(shape-circle) {
        border-radius: 200px;
        padding: 0;
        text-align: center;
        overflow: hidden
    }

    // Loading
    @include m(loading) {
        pointer-events: none;
    }

    // Block
    @include m(block) {
        width: 100%;
    }

    //Slim
    @include m(slim) {
        padding: 0 0.25rem;
        &>i{
            transform: scale(.83);
        }
    }
}