$picker-panel-width: 17.375rem;
$picker-hover-color: map-get($primary-colors, lighten-3);

// time panel
$time-picker-panel-column-width: 3.5rem;
$time-picker-panel-width: $time-picker-panel-column-width * 3;
$time-picker-selected-bg: $bg-color-2;
$timepicker-item-height: 2rem;