@import "../var.scss";
@import "../mixins/icon.scss";

// font-face
@font-face {
  font-family: 'anticon';
  font-display: fallback;
  src: url("#{$icon-url}"); /* IE9*/
  src:
          /* chrome、firefox */
          url('#{$icon-url}.woff') format('woff'),
            /* chrome、firefox、opera、Safari, Android, iOS 42+*/
          url('#{$icon-url}.ttf') format('truetype'),
            /* iOS 41- */
          url('#{$icon-url}.svg#iconfont') format('svg');
}

.anticon {
    @include anticon();
}

@each $key in map-keys($icons) {
    .anticon-#{$key} {
        &:before { content: map-get($icons, $key); }
    }
}

.anticon-spin:before {
    display: inline-block;
    animation: amRotate 1s infinite linear;
}