@function important ($important) {
    @return if($important, !important, null);
}

@mixin control () {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &:hover{
        z-index: 1;
    }

    &:active, &.active{
        z-index: 2;
    }

    &:focus{
        z-index: 3;
    }
}

@mixin square ($size) {
    height: $size;
    width: $size;
}

@mixin arrow {
    transition: transform .3s $ease-in-out;
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0.625rem;
    &:before,
    &:after {
        content: '';
        position: absolute;
        vertical-align: baseline;
        background-color: currentColor;
        width: 0.375rem;
        height: 0.1rem;
        border-radius: 0.125rem;
        transition: background-color .3s $ease-in-out, transform .3s $ease-in-out, top .3s $ease-in-out;
    }
}

@mixin arrow-right {
    &:before {
        transform: rotate(45deg) translateY(-0.125rem);
    }
    &:after {
        transform: rotate(-45deg) translateY(0.125rem);
    }
}

@mixin arrow-down {
    &:before {
        transform: rotate(-45deg) translateX(0.125rem);
    }
    &:after {
        transform: rotate(45deg) translateX(-0.125rem);
    }
}

@mixin arrow-up {
    transform: translateY(-0.125rem);
    &:before {
        transform: rotate(-45deg) translateX(-0.125rem);
    }
    &:after {
        transform: rotate(45deg) translateX(0.125rem);
    }
}

@mixin when-dark () {
    &.is-dark {
        @content;
    }
}