@function important ($important) {
    @return if($important, !important, null);
}

@mixin control () {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &:hover{
        z-index: 1;
    }

    &:active, &.active{
        z-index: 2;
    }

    &:focus{
        z-index: 3;
    }
}

@mixin square ($size) {
    height: $size;
    width: $size;
}