@import "../var.scss";

@mixin display-1 (){
    font-size: 7rem;
    font-weight: $font-weight-light;
    line-height: 1.2;
    color: $heading-color;
}

@mixin display-2 (){
    font-size: 3.5rem;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    color: $heading-color;
}

@mixin display-3 (){
    font-size: 2.8rem;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    color: $heading-color;
}

@mixin display-4 (){
    font-size: 2.1rem;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    color: $heading-color;
}

@mixin headline (){
    font-size: 1.5rem;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    color: $heading-color;
}

@mixin title (){
    font-size: 1.125rem;
    font-weight: $font-weight-medium;
    color: $heading-color;
}

@mixin subheading (){
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
    color: $heading-color;
}

@mixin body-regular {
    font-size: $font-size-base;
    color: $text-color;
    font-weight: $font-weight-regular;
}

@mixin body-secondary {
    font-size: $font-size-base;
    color: $text-color-secondary;
    font-weight: $font-weight-regular;
}

@mixin caption (){
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    color: $text-color-secondary;
}

