.ft-sm {
    font-size: $font-size-sm;
}

.ft-md {
    font-size: $font-size-base;
}

.ft-lg {
    font-size: $font-size-lg;
}

.ft-18 {
    font-size: 1.125rem;
}

.ft-24 {
    font-size: 1.5rem;
}

.ft-32 {
    font-size: 2rem;
}

.ft-64 {
    font-size: 4rem;
}