@import "../var.scss";

.shadow-1-up {
    box-shadow: $shadow-1-up;
}

.shadow-1-down {
    box-shadow: $shadow-1-down;
}

.shadow-1-left {
    box-shadow: $shadow-1-left;
}

.shadow-1-right {
    box-shadow: $shadow-1-right;
}

.shadow-2 {
    box-shadow: $shadow-2;
}