@import "../../../style/var.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/mixins/elevation.scss";
@import "./var.scss";


@mixin line-tab-position ($pos: top) {
    $border-width: .125rem;
    $border-color: $primary-color;
    padding: .75rem 1rem;
    @if $pos == top {
        border-bottom: solid transparent $border-width;
        &.active {
            border-bottom: solid $border-color $border-width;
        }
    } @else if $pos == bottom {
        border-top: solid transparent $border-width;
        &.active {
            border-top: solid $border-color $border-width;
        }
    } @else if $pos == left {
        border-right: solid transparent $border-width;
        &.active {
            border-right: solid $border-color $border-width;
        }
    } @else if $pos == right {
        border-left: solid transparent $border-width;
        &.active {
            border-left: solid $border-color $border-width;
        }
    }
}

@mixin card-tab-position ($pos: top) { // only top and bottom
    margin-right: .125rem;
    border: solid 1px $border-color-base;
    padding: .5rem 1rem;
    @if $pos == top {
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
        &.active {
            border-bottom-color: $bg-color;
        }
    } @else if $pos == bottom {
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
        &.active {
            border-top-color: $bg-color;
        }
    }
}

@mixin content-horizontal {
    will-change: margin-left;
    transition: margin-left 0.3s $ease-in-out;
}

