@import "../../../style/mixins/bem.scss";
@import "../../../style/mixins/elevation.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/mixins/reset.scss";
@import "../../../style/var.scss";
@import "./mixins.scss";

@include b(v-divider) {
    @include reset-component();
    position: relative;
    border: 0;

    @include e(text) {
        position: absolute;
        padding: 0 .5rem;
        background-color: $bg-color;
    }

    // Type
    @include m(horizontal) {
        display: block;
        border-top: 1px solid $border-color-split;
        width: 100%;
        min-width: 100%;
        margin: 1.5rem 0;
    }

    @include m(vertical) {
        margin: 0 .5rem;
        display: inline-block;
        height: .9em;
        border-right: 1px solid $border-color-split;
        vertical-align: middle;
        top: -0.06em;
    }

    // Orientation
    @include m(left) {
        @include e(text) {
            transform: translateY(-50%);
            left: 8%;
        }
    }

    @include m(right) {
        @include e(text) {
            transform: translateY(-50%);
            right: 8%;
        }

    }

    @include m(center) {
        @include e(text) {
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
        }
    }

    // Dashed
    @include m(dashed) {
        border-style: dashed;
    }
    
}