@import "../../../style/var.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/mixins/elevation.scss";
@import "./var.scss";


@mixin label-horizontal ($left: false) {
    display: flex;
    @include e(label) {
        vertical-align: top;
        flex: 0 0 auto;

        @if $left {
            text-align: left;
        } @else {
            text-align: right;
        }
    }

    @include e(content) {
        flex: 1 1 auto;
        width: 100%;
        vertical-align: top;
    }
}
