@import "../../../style/mixins/bem.scss";
@import "../../../style/mixins/elevation.scss";
@import "../../../style/mixins/misc.scss";
@import "../../../style/var.scss";
@import "./mixins.scss";

@include b(v-form-item) {

    margin-bottom: 0.3125rem;

    @include e(label) {
        overflow: hidden;
        white-space: nowrap;

        label {
            color: $heading-color;
            line-height: 2rem;
            &:after {
                content: ":";
                margin: 0 .5rem 0 .125rem;
                position: relative;
                top: -0.5px;
            }
        }

        &:before {
            display: none;
            margin-right: 4px;
            content: '*';
            font-family: SimSun;
            line-height: 1;
            font-size: $font-size-base;
            color: $error-color;
        }
        &.is-required::before {
            display: inline-block;
        }
    }

    @include e(message) {
        height: 1.3125rem;
        &.invalid {
            color: $error-color;
        }
        &.valid {
            color: $success-color;
        }
        &.warning {
            color: $warning-color;
        }
        &.validating {
            color: $info-color;
        }
    }

    // Label Position
    @include m(label-top) {

    }

    @include m(label-right) {
       @include label-horizontal();
    }

    @include m(label-left) {
       @include label-horizontal(true);
    }

    // Layout
    @include m(layout-vertical) {
    }

    @include m(layout-horizontal) {
        // display: flex;
        // vertical-align: bottom;
        margin-right: 1rem;
    }

    // Validate Status
    @include m(valid) {
        & .v-input__input {
            border-color: $success-color !important;
        }
    }

    @include m(invalid) {
        & .v-input__input {
            border-color: $error-color !important;
        }
    }
}