$input-height-sm: 1.5rem;
$input-height-md: 2rem;
$input-height-lg: 2.5rem;
$input-padding-h-sm: 0.5rem;
$input-padding-h-md: 0.75rem;
$input-padding-h-lg: 0.75rem;
$input-padding-v-sm: 0.125rem;
$input-padding-v-md: 0.25rem;
$input-padding-v-lg: 0.375rem;

$input-border-radius: $border-radius-base;