@import "../../../../style/mixins/bem.scss";
@import "../../../../style/mixins/elevation.scss";
@import "../../../../style/mixins/misc.scss";
@import "../../../../style/var.scss";
@import "../mixins.scss";
@import "../var.scss";

@include b(v-month-panel) {
    @include picker-panel();

    @include e(prev-year-btn){
        @include double-backward-arrow();
    }

    @include e(next-year-btn){
        @include double-forward-arrow();
    }

    @include e(year-select) {
        @include panel-select-text();
    }

    @include e(month){
        display: inline-block;
        margin: 0 auto;
        border-radius: $border-radius-sm;
        height: 1.5rem;
        padding: 0 .5rem;
        background: transparent;
        line-height: 1.5rem;
        border: solid 1px transparent;
        transition: all .3s;

        &:hover{
            background-color: $picker-hover-color;
            cursor: pointer;
        }

        &.is-current-month {
            background-color: map-get($primary-colors, lighten-4);
        }

        &.is-selected-month {
            background-color: $primary-color;
            color: #fff;
        }
    }
}


