@import "../../../../style/mixins/bem.scss";
@import "../../../../style/mixins/elevation.scss";
@import "../../../../style/mixins/misc.scss";
@import "../../../../style/var.scss";
@import "../mixins.scss";
@import "../var.scss";

@include b(v-time-panel) {
    @include picker-panel();

    @include e(ymd-select) {
        @include panel-select-text();
    }

    @include e(combobox) {
        display: flex;
    }

    @include e(select){
        float: left;
        font-size: $font-size-base;
        flex: auto;
        overflow: hidden;
        max-height: $timepicker-item-height * 6;

        &:not(.is-first) {
            border-left: 1px solid $border-color-split;
        }

        &:hover {
            overflow-y: auto;
        }

        ul {
            list-style: none;
            box-sizing: border-box;
            margin: 0;
            padding: 0 0 $timepicker-item-height * 5;
            width: 100%;
        }

        li {
            list-style: none;
            box-sizing: content-box;
            margin: 0;
            padding: 0 0 0 .75rem;
            width: 100%;
            height: $timepicker-item-height;
            line-height: $timepicker-item-height;
            text-align: left;
            cursor: pointer;
            user-select: none;
            transition: background 0.3s;
        }

        li:hover {
            background-color: $picker-hover-color;
        }

        li.selected {
            background: $time-picker-selected-bg;
            font-weight: $font-weight-bold;
            &:hover {
            background: $time-picker-selected-bg;
            }
        }

        li.disabled {
            background-color: $disabled-bg;
            color: $disabled-color;
            pointer-events: none;
        }
    }
}


